<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Leave-IN!</h1>
             <p>
                 View all the departments of <%= org.name%>
             </p>
             <% if(org.head!=undefined){%>
                <h3>ORG HEAD:<%= org.head.username%></h3>
             <% }%>
             <% if(org.head!=undefined && org.head._id.equals(currentUser._id)){%>
                <a href="/orgs/<%= org._id%>/newdept" class="btn btn-primary">Create new department</a><br>
                <%}%>
        </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% if(org.depts.length==0){%>
            <h2>No departments!</h2><br>
        <% } else { %>
            <% org.depts.forEach(function(dept){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                    <div class="caption">
                        <h4><%= dept.name %></h4>
                    </div>
                    <p>
                        <a href="/orgs/<%= org._id%>/<%= dept.name %>" class="btn btn-primary">More Info</a>
                    </p>
                    <% if(currentUser.org==undefined){%>
                        <form action="/users/<%= currentUser._id%>/register" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="hidden" name="org" value="<%= org._id%>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="hidden" name="dept" value="<%= dept.name%>">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary"><% if(currentUser.type="admin"){%>Register!
                                    <%}else{%>
                                        Subscribe
                                    <%}%>
                                        </button>
                            </div>
                        </form>
                    <%}%>
                    </div>
                </div>
            <% }); %>
            <% } %>
        
    </div>
</div>

<% include ../partials/footer %>
