<% include ../partials/header %> 

<%  var headid;
    var headname;
    org.depts.forEach(function(dept){
        if(dept.name== deptname){
            headid=dept.head._id;
            headname=dept.head.username;
        }
    });
%>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To LEAVE-IN</h1>
             <p>View all the staff of <%= deptname%></p>
             <p>
                <a class="btn btn-primary btn-large" href="/transactions">Dashboard</a>
                <%if(currentUser._id.equals(headid)){%>
                <a class="btn btn-large btn-warning" href="/<%= org._id%>/<%=deptname%>/classes/new">Create new class</a>
                <%}%>
                <a class="btn btn-large btn-success" href="/<%= org._id%>/<%=deptname%>/classes">View classes</a>
             </p>
         </div>
     </header>
     
     
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
               <div class="caption">
                   <h4>Head: <%= headname %></h4>
                   <a href="/<%= headid %>/transaction/<%=headid%>/new">Request</a>
               </div>
            </div>
        </div>
        <% admins.forEach(function(admin){ %>
            <%if(!admin._id.equals(headid)){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= admin.username %></h4>
                       <a href="/<%= admin._id%>/transaction/<%=headid%>/new">Request</a>
                   </div>
                </div>
            </div>
        <% }}); %>
    </div>
     
</div>

<% include ../partials/footer %>
