<% include ../partials/header %> 
<%var prevtransaction={fordate: Date.now()};%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Leave-IN!</h1>
             <p>
                <a class="btn btn-warning btn-large" href="/orgs">View all Organisations</a>
                <a class="btn btn-primary btn-large" href="/events">View all events</a>
                <%if(currentUser.org!=undefined){%>
                    <a class="btn btn-success btn-large" href="/orgs/<%=currentUser.org%>/<%=currentUser.dept%>">Make Request</a>
                <%}%>
                <%if(currentUser.type=="admin" && currentUser.org!=undefined){%>
                    <a class="btn btn-success btn-large" href="/events/new">Create a new event</a>  
                <%}%>
            </p>
         </div>
     </header>
     
     <h2>Requests</h2>
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <!-- Displaying chained transactions -->
        <%if(currentUser.type=="admin"){%>
            <% if(chainedTransaction.length==0){%>
            <% } else { %>
                <% chainedTransaction.forEach(function(transaction){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                        <div class="caption">
                            <h4><%= transaction.reason %></h4>
                            <h6>from:<%= transaction.requester.username %></h6> 
                            <h6>to:<%= transaction.responder.username %></h6>
                            <%if(transaction.acceptance){%>
                                Accepted!
                            <%}else{%>
                                Pending!
                            <%}%>
                        </div>
                        <p>
                            <a href="/transactions/<%= transaction._id%>/show" class="btn btn-primary">More Info</a>
                        </p>
                        </div>
                    </div>
                <% }); %>
                <% } %>
        <%}%>

        
        <% if(allTransactions.length==0){%>
        <% } else { %>
            <% allTransactions.forEach(function(transaction){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                    <div class="caption">
                        <h4><%= transaction.reason %></h4>
                        <h6>from:<%= transaction.requester.username %></h6> 
                        <h6>to:<%= transaction.responder.username %></h6>
                        
                        <%if(transaction.acceptance){%>
                                Accepted!
                            <%}else if(transaction.isrejected!=undefined && transaction.isrejected){%>
                                Rejected!
                            <%}else{%>
                                Pending!
                            <%}%>
                    </div>
                    <p>
                        <a href="/transactions/<%= transaction._id%>/show" class="btn btn-primary">More Info</a>
                    </p>
                    </div>
                </div>
            <% }); %>
            <% } %>

     </div>
     <%if(currentUser.type=="admin"){%>
        <h2>Notifications</h2>
        <button id="today" class="list-group-item ">Today</button>
        <button id="alldays" class="list-group-item active">All days</button>
        <button id="thisperiod" class="list-group-item">This period</button>
        <button id="allperiods" class="list-group-item">All periods</button>
        <hr>
        <input type="date" id="dateselector"><br>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">    
                <%if(currentUser.type=="admin"){%>
                <% if(notifications.length==0){%>
                    <h4>No notifications</h4><br>
                <% } else { %>
                    <% notifications.forEach(function(transaction){ var timediff=Date.now()-transaction.fordate.getTime();
                    if(timediff<0){
                        timediff=timediff*(-1);
                    } 
                    if(transaction.fordate.toString()!=prevtransaction.fordate.toString()){ %>
                        <h5 class="dateheader"><%= transaction.fordate%></h5><br><hr>
                    <%}%>
                        <div class="col-md-3 col-sm-6
                            <%if(!(timediff>=0 && timediff<=86400000)){%>
                                 nottoday
                            <%}%>
                        "
                        >
                            <div class="thumbnail">
                            <div class="caption">
                                <%if(transaction.reason!=undefined){%>
                                    <h4><%= transaction.reason %></h4>
                                <%}else{%>
                                    <h4>Un named notification</h4>
                                <%}%>
                                <h6>from:<%= transaction.requester.username %></h6> 
                                <h6>to:<%= transaction.responder.username %></h6>
                                <%if(transaction.isNotification){%>
                                    <h5>Notif</h5>
                                    <%}%>       
                                
                            </div>
                            <p>
                                <a href="/transactions/<%= transaction._id%>/show" class="btn btn-primary">More Info</a>
                            </p>
                            </div>
                        </div>
                    <% prevtransaction=transaction}); %>
                    <% } %>
            <%}%>
        </div>
    <%}%>


    <%if(currentUser.type=="admin"){%>
        <h2>Requests by ME</h2>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">    
                <%if(currentUser.type=="admin"){%>
                <% if(adminreqs.length==0){%>
                    <h4>No Requests from me!</h4><br>
                <% } else { %>
                    <% adminreqs.forEach(function(transaction){ %>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                            <div class="caption">
                                <%if(transaction.reason!=undefined){%>
                                    <h4><%= transaction.reason %></h4>
                                <%}else{%>
                                    <h4>Un named notification</h4>
                                <%}%>
                                <h6>from:<%= transaction.requester.username %></h6>
                                <%if(transaction.responder!=undefined && transaction.responder.username!=undefined){%>
                                    <h6>to:<%= transaction.responder.username %></h6>
                                <%}%> 
                                
                                <%if(transaction.isNotification){%>
                                    <h5>Notif</h5>
                                    <%}%>       
                            </div>
                            <p>
                                <a href="/transactions/<%= transaction._id%>/show" class="btn btn-primary">More Info</a>
                            </p>
                            </div>
                        </div>
                    <% }); %>
                    <% } %>
            <%}%>
        </div>
    <%}%>


</div>
<script src="/scripts/transactions/index.js" type="text/javascript"></script>
<% include ../partials/footer %>
