<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Leave-In</p>
            <div class="list-group">
                <li class="list-group-item active">Attendance</li>
                <li class="list-group-item">Cause Genuinity</li>
                <li class="list-group-item">History</li>
            </div>
        </div>
        <div class="col-md-9">
            <div  class="thumbnail">
                <div  class="caption">
                    <h4><%= transaction.reason %></h4>
                    <h6>from:<%= transaction.requester.username %></h6> 
                    <h6>to:<%= transaction.responder.username %></h6>
                    <%if(transaction.data.isoneday!=undefined){%>
                        <h6>Date: <%= transaction.data.startdate %></h6>
                    <%}else if(transaction.data.isseveraldays!=undefined){%>
                        <h6>Start date: <%= transaction.data.startdate %></h6>
                        <h6>End date: <%= transaction.data.enddate %></h6>
                    <%}else if(transaction.data.isperiods!=undefined){%>
                        <h6>Date: <%= transaction.data.startdate %></h6>
                        <h6>Start period: <%= transaction.data.startperiod %></h6>
                        <h6>End period: <%= transaction.data.endperiod %></h6>
                    <%}%>
                    <%if(transaction.isNotification){%>
                        <h3>For period: <%= transaction.forperiod %></h3>
                        <h3>For date: <%= transaction.fordate %></h3>
                    <%}%>
                    <%if(transaction.data.isproxytransaction!=undefined){%>
                        <h6>Involved: <%= transaction.data.students %></h6>
                    <%}%>
                    
                    <h3 id="info"><%if(transaction.acceptance || transaction.isNotification){%>
                        Accepted!
                    <%}else{%>
                        Pending!
                    <%}%></h3>
                    <%if (transaction.acceptance==true || transaction.isNotification){%>
                        <script> 
                            document.getElementById("info").style.color ="green";
                         </script>
                    <% } else{%>
                        <script> 
                            document.getElementById("info").style.color ="red";
                        </script>
                        <% } %>
                </div>
                <%if(transaction.time!=undefined){%>
                    <h4><%=transaction.time%></h4>
                 <%}%>
                <%if(transaction.redirection==true && transaction.interacceptance==true){%>
                    <h3>Accepted by <%= transaction.responder.username%> </h3>
                <%}%>
                <%if(transaction.isNotification==true){%>

                <%}else if((currentUser._id.equals(transaction.responder._id) ||(transaction.redirection==true && transaction.head.equals(currentUser._id))) && transaction.acceptance==false){%>
                <p>
                    
                    <%if(transaction.redirection==false ){%>
                    <form action="/transactions/<%=transaction._id %>/accept" method="POST">
                        <div class="form-group">
                            <button class="btn btn-lg btn-success ">Accept!</button>
                        </div>
                    </form>
                    <%}else if(transaction.head.equals(currentUser._id)){%>
                        <form action="/transactions/<%=transaction._id %>/accept" method="POST">
                            <div class="form-group">
                                <button class="btn btn-lg btn-success ">Accept!</button>
                            </div>
                        </form>
                    <%}else{%>
                        <form action="/transactions/<%=transaction._id %>/forward" method="POST">
                            <div class="form-group">
                                <button class="btn btn-lg btn-success ">Forward!</button>
                            </div>
                        </form>  
                    <%}%>
                </p>
                <%}%>
                <%if(currentUser._id.equals(transaction.requester._id)){%>
                    <p>
                        <form action="/transactions/<%=transaction._id %>/delete" method="POST">
                            <div class="form-group">
                                <button class="btn btn-lg btn-danger ">DELETE!</button>
                            </div>
                        </form>
                    </p>
                <%}%>
             </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>