<% include ../partials/header %>
<div class="container">
    <div class="row">
            <%if(nos==undefined){
                nos=classs.faculty.length;
                }%>
        <h1 style="text-align: center">Edit <%= classs.name%> of <%=dept%></h1>
        <div style="width: 30%; margin: 25px auto;">
                
                <form id="nosform" action="/<%= orgid%>/<%= dept%>/classes/<%= classs._id%>/edit" method="GET">
                    <div class="form-group">
                            No of subjects:<input type="number" id="nos" value=<%=nos%> name="nos" onchange="nosubjects()">
                    </div>
                </form>
            
            <form action="/<%= orgid%>/<%= dept%>/classes/<%= classs._id%>" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= classs.name%>">
                </div>
For Class Incharge:<select name="head" >
                        <% admins.forEach(function(admin){ %>
                            <option value="<%= admin._id%>" 
                                <%if(admin._id.equals(classs.head)){%>
                                    selected
                                <%}%> 
                            >
                                <%= admin.username%>
                            </option>
                        <%});%>
                </select><br>
                <%for(var i=1; i<=nos ;i++){ %>
                     <%if(i>classs.faculty.length){ %>
                        <h6>New subject:</h6>
                     <%}%>
                    For sub <%=i%>:<select name="faculty[<%=i%>]" >
                        <% admins.forEach(function(admin){ %>
                            <option value="<%= admin._id%>" 
                                <%if(admin._id.equals(classs.faculty[i])){%>
                                    selected
                                <%}%> 
                                >
                                <%= admin.username%>
                            </option>
                        <%});%>
                </select><br>
                <%}%>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="#">Go Back</a>
            
            <% admins.forEach(function(admin){ %>
                <%= admin.username%>
            <%});%>
        </div>
    </div>
</div>
<script src="/scripts/classes/new.js" type="text/javascript"></script>
<% include ../partials/footer %>

